<footer>
    <div class="container container-footer">
        <div class="row row-footer">
            <div class="col-6 col-sm-6 col-xs-12 col-footer">
                <h5 class="h5-footer">Links</h5>     
                <hr class="hr-footer">
                <ul class="ul-footer">
                    <li class="li-footer"><a href="#">About Us</a></li>
                    <li class="li-footer"><a href="#">FAQ</a></li>
                    <li class="li-footer"><a href="#">Legal</a></li>
                    <li class="li-footer"><a href="#">Our Community</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-6 col-xs-12 col-footer">
                <h5 class="h5-footer">Contact Info</h5>
                <hr class="hr-footer">
                <ul class="ul-footer">
                    <li class="li-footer-normal"><a href="">The Gallery Ⓒ</a></li>
                    <li class="li-footer-normal"><a href="">629 Main St.</li>
                    <li class="li-footer-normal"><a href="">29879 Croatoan</li>
                    <li class="li-footer-normal"><a href="">info@thegallery.com</li>
                </ul>
            </div>
        </div>
        
    </div>
    
</footer>