<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-The Gallery</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('bootstrap') %>
</head>
  <body class="body2 d-flex">
    <%- include('navbar') %>

    <div class="container container-edit-work">

      

      <div class="row row-grey-login">
        <div class="col-12 col-grey-login">

          <h2 class="h2-edit-work">Log In</h2>

          <div class="row row-login">
            <form action="/artist/login" method="post">
            <div class="col-12 col-login d-flex">          
                <input type="text" name="email" id="" placeholder="Email" />
            </div>
            <div class="col-12 col-login d-flex">    
                <input type="password" name="password" id="" placeholder="Password" />
            </div>
            <div class="col-12 col-login d-flex"> 
                <button class="btn btn-submit-general btn-login" type="submit">Login</button>          
            </div>            
          </form>
            
          </div>          

        </div>
        <div class="filler3"></div>
      </div>

      

      

    </div>

    <div class="footer-login">
      <%- include('footer') %>
    </div>

    

  </body>
</html>