@font-face {
  font-family: AftikaBold;
  src: url(FontsFree-Net-AftikaBold.ttf);
}

h1,
h2,
h3,
h4,
ul,
li {
  font-family: AftikaBold;
}

h3 {
  font-size: 1.55rem;
}

p,
a {
  font-family: 'Montserrat', sans-serif;
}


body {
  padding: 0px;
  text-align: center;
  overflow-x: hidden;
}

.body-general {
  padding: 0px !important;
  margin-bottom: -10px;
}

a {
  color: white !important;
  text-decoration: none !important;
}

.menu-nav {
  justify-content: end !important;
}

.nav-item,
.nav-link {
  padding-right: 20px;
  color: white !important;
  font-size: 1em;
}

.nav-link:hover,
.navbar-brand:hover {
  color: #ffca00 !important;
}

.p-pre-title {
  font-size: 2em;
  text-shadow: 1px 1px 3px black;
}

.p-post-title {
  font-size: 1.2em;
}

.h1-web-title {
  font-size: 6em;
  text-shadow: 1px 1px 5px black;
}

.btn-general {
  background-color: #cf8d2a;
  border: 1px solid #cf8d2a;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin-top: 25px;
  padding: 10px;
}

.btn-general:hover {
  background-color: white;
  border: 1px solid #cf8d2a;
  color: #cf8d2a !important;
}

.btn-submit-general {
  background-color: #cf8d2a !important;
  border: 1px solid #cf8d2a !important;
  width: 150px;
  height: 40px;
  border-radius: 20px !important;
  color: white !important;
  font-size: 1em;
  font-weight: bold;
  margin-top: 25px;
  padding: 10px !important;
  padding-top: 4px !important;
}

a:hover {
  color: #cf8d2a !important;
}

.col-web-title {
  text-align: center;
  padding-top: 60px !important;
  padding-bottom: 50px !important;
}

.artists-loop {
  text-align: center;
}

.col-hero {
  height: 80vh;
  color: white;
  background-image: url("../images/works/Cheer_up.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.435);
  background-blend-mode: soft-light;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.col-introduction {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}

.row-testimony {
  height: 500px;
}

.container-testimony {
  background-color: rgb(236, 232, 232);
}

.col-testimony {
  height: 500px;
  justify-content: center;
  flex-direction: column;
}

.recuadro-testimony {
  width: 50vw;
  height: 400px;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
}

.img-testimony {
  height: 200px;
  border-radius: 180px;
  margin-top: -90px;
  margin-bottom: 40px;
}

.recuadro-testimony-interior {
  padding: 5px 60px 5px 60px;
}

.title-our-artists {
  text-align: center;
  margin-top: 60px;
}

.container-artists-loop {
  flex-wrap: wrap;
  padding-right: 100px !important;
  padding-left: 100px !important;
  justify-content: center;
  text-align: center;
  margin-bottom: 60px;
}

.col-artists-loop1 {
  text-align: center;
  text-align: center;
}

.col-artists-loop_ {
  text-align: center;
  height: 300px;
  width: 300px !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.col-artists-loop {
  text-align: center;
}

.col-artists-loop img {
  padding: 15px;
  border-radius: 5px;
}

.img-artists-loop {
  margin: 15px;
  border-radius: 5px !important;
  transition: transform .5s ease;
}

.img-artists-loop:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.row-logos {
  justify-content: center;
}

.row-icons {
  background-color: rgb(236, 232, 232);
  padding: 30px 120px 30px 120px;
}

.row-icons .fondo-gris {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  background-color: rgb(236, 232, 232);
}

.one-logo img {
  width: 100px;
}

.container-footer {
  padding: 60px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 25px;
}

footer {
  background-color: #212529;
  color: white;
  margin: 0px;
}

.col-footer {
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}

.h5-footer {
  font-size: 1.1rem;
}


.hr-footer {
  margin: 0 auto;
  width: 20vw;
  color: #ffca00;
  margin-bottom: 20px;
}

.ul-footer {
  list-style-type: none;
  padding: 0px;
  font-weight: 300 !important;
}

.ul-footer li {
  margin-bottom: 10px;
  font-weight: 300 !important;
}

.li-footer {
  font-weight: 300 !important;
  font-size: 0.9em;
}

.ul-footer li .li-footer-normal {
  cursor: default !important
}

.li-footer-normal a {
  cursor: default !important;
  font-size: 0.9em;
}

.li-footer-normal a:hover {
  color: white !important;
}

.footer2 {
  margin-top: 260px;
  margin-bottom: -40px !important;
}

.footer2 .container-footer {
  padding-top: 0px !important;
}

.body2 {
  flex-direction: column;
}

.card {
  margin: 15px;
  border-radius: 5px !important;
  transition: transform .5s ease;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container-profile {
  margin-top: 70px !important;
  text-align: center;
}

.h3-profile-artist-data {
  font-size: 1.6rem !important;
}

.h5-profile-artist-data {
  font-size: 1.1rem !important;
  font-weight: 400;
}

.alias {
  font-style: italic;
}

.container-profile h2 {
  margin-bottom: 50px !important;
}

.row-profile {
  justify-content: center;
}

.col-profile-photo {
  height: 500px;

}

.col-profile-photo {
  height: 500px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 35% !important;
  margin-left: 4em !important;
  border-radius: 5px;
  align-items: flex-end;
  justify-content: center;
}

.col-profile-text {
  text-align: left;
  width: 30% !important;
  margin-left: 3em !important;
  padding-top: 40px;
}

.btn-profile {
  padding-top: 6px;
  margin: 6px;
  margin-bottom: 15px;
}

.btn-profile-work {
  padding-top: 6px;
  padding-bottom: 5px;
  text-align: center;
}

.btn-submit-general {
  font-weight: bold !important;
  margin-bottom: 40px;
}

.container-artwork-big {
  background-color: rgb(236, 232, 232);
  padding-top: 40px;
  margin-top: 40px;
  padding-bottom: 50px;
}

.title-profile-artwork {
  text-align: center;
  margin-top: 60px;
}

.container-profile-artwork {
  flex-wrap: wrap;
  padding-right: 100px !important;
  padding-left: 100px !important;
  justify-content: center;
  text-align: center;
}

.col-profile-artwork {
  text-align: center;
  height: 300px;
  width: 300px !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.row-profile-artwork-loop {
  width: 50% !important;
  justify-content: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: 0px;

}

.col-profile-artwork {
  flex: auto !important;
}

.col-profile-artwork-text {
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.work-title-profile {
  font-weight: bold;
}

.work-description {
  font-size: 0.8em;
}

.container-edit-work {
  width: 60% !important;
}

.container-edit-work div {
  margin-top: 10px;
}

.h2-edit-work {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.col-login {
  justify-content: center
}

.filler {
  height: 100px;
  color: white;
}

.filler2 {
  height: 200px;
  color: white;
}

.filler3 {
  height: 300px;
  color: white;
}

.row-grey-login {
  justify-content: center;
}

.col-grey-login {
  background-color: rgb(236, 232, 232);
  width: 400px !important;
}

.col-profile-artwork-photo img {
  transition: transform .5s ease;
}

.col-profile-artwork-photo img:hover {
  transform: scale(3);
}

@media (max-width: 500px) {

  .nav-link {
    text-align: center;
  }

  .col-hero {
    height: 50vh !important;
  }

  .h1-web-title {
    font-size: 3em !important;
  }

  .row-introduction {
    margin: 0 auto !important;
  }

  .col-introduction p {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }

  .row-testimony {
    margin-top: 60px !important;
  }

  .recuadro-testimony {
    width: 80vw !important;
  }

  .col-testimony {
    align-items: center !important;
  }

  .container-footer {
    margin-top: 50px;
  }

  .btn-submit-general {
    margin-left: 60px;
  }

  .container-edit-work {
    width: 300px !important;
  }

  .btn-login {
    margin-left: 0px !important;
  }

  .filler3 {
    height: 200px !important;
  }

  .container-profile {
    display: flex;
    flex-direction: column;
  }

  .col-profile-photo {
    width: 90% !important;
    margin-left: 0px !important;
  }

  .col-profile-text {
    width: 90% !important;
    margin-left: 0px !important;
  }

  .container-artwork-big {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }

  .col-profile-artwork {
    width: 100% !important;
    margin-left: 0px !important;
  }

  .row-profile-artwork-loop {
    width: 100% !important;
  }

  .col-profile-artwork {
    height: 100% !important;
  }

  .col-profile-artwork-text {
    text-align: center;
    align-items: center;
  }

  .row-profile-artwork-inside {
    margin-top: 20px !important;
  }

  .footer-profile .container-footer {
    margin-top: 0px !important;
  }

  .col-profile-artwork {
    margin: 0 auto;
  }

  .col-profile-artwork-photo img {
    width: 350px !important;
  }

}